main
[{"id":"d3399d9e.0ff088","type":"subflow","name":"timers","info":"This subflow/node facilitates the setting\nof multiple timers in an easy manner.\n\n# Input Message to set timer\n\nThe subflow expects an input `msg` which\ncontains the following to set a timer:\n\n+ a `msg.payload` which will be send once the timer has finished\n+ a `msg.duration` either in the format of a number in seconds or a string in the \"hh:mm:ss\" format\n+ an optional `msg.topic` which will also be send on completion\n\n# Other Control Messages\n\nThere are also a number of other control\nmessages which the subflow accept:\n\n+ a `msg.payload` of `reset` will reset all running timers\n+ a `msg.payload` of `debug` will send an array of all set timers to the secon debug output.\n+ a `msg` with a duration in seconds as a number or a string in the hh:mm:ss format with `msg.delete` set to true will delete the first set timer with a matching duration\n\n# Configuration Settings\n\nThe subflow although offers several menu options which can be adjusted:\n\n+ there is a setting which determines if a new timer should be appended to the list of existing timers and run in parallel or if every new timer should replace the previous\n+ a setting for the output format of the duration and the time left to-go which affects both the status display and the debug messages\n+ a setting to enable/disable the progress status being shown on the node status\n+ a setting which when enabled sends a debug message every second to the second output\n\n# Debug Message Format\nThe node sends a debug message to its second output on several events or in addition every second if configured. Those events are:\n\n+ When a new timer is set\n+ When a timer completes\n+ When a timer is deleted\n+ When the timers are reset\n\nThe format of this message is an array which\nincludes one object for every timer running\nthat includes useful information about each\ntimer in this format:\n```\n{\n    \"payload\":\"ON\",\n    \"duration\":\"00:00:25\",\n    \"due\":1607330155654,\n    \"toGo\":\"00:00:25\",\n    \"topic\":\"Test\"\n}\n```\nthe `toGo` and `duration` properties will be in the format configured in the nodes settings.","category":"","in":[{"x":100,"y":140,"wires":[{"id":"fe62abda.f8f7a"}]}],"out":[{"x":840,"y":140,"wires":[{"id":"c50c6881.b2fdf","port":0}]},{"x":840,"y":200,"wires":[{"id":"12c839f6.01eed6","port":0}]}],"env":[{"name":"on_input","type":"str","value":"append","ui":{"label":{"en-US":"On new input"},"type":"select","opts":{"opts":[{"l":{"en-US":"append to list of current timers"},"v":"append"},{"l":{"en-US":"replace current timer"},"v":"replace"}]}}},{"name":"time_format","type":"str","value":"hhmmss","ui":{"label":{"en-US":"Time format of output/status"},"type":"select","opts":{"opts":[{"l":{"en-US":"hh:mm:ss"},"v":"hhmmss"},{"l":{"en-US":"seconds"},"v":"seconds"}]}}},{"name":"show_progress","type":"bool","value":"true","ui":{"label":{"en-US":"show progress in status"},"type":"checkbox"}},{"name":"send_progress","type":"bool","value":"false","ui":{"label":{"en-US":"send progress to second output"},"type":"checkbox"}}],"color":"#FDF0C2","icon":"node-red/timer.svg","status":{"x":840,"y":80,"wires":[{"id":"415b9d3f.6e5754","port":0}]}},{"id":"fe326ef6.0184b","type":"function","z":"d3399d9e.0ff088","name":"tick","func":"const timers = flow.get(\"timers\") || [];\nif (msg.delete === true || timers.length > 0) {\n    return msg;\n}\nconst start = Date.now();\nconst startCorrected = (Math.ceil(start / 1000)) * 1000;\nfunction initial() {\n    initialTimeout = startCorrected - start;\n    setTimeout(()=>{\n        tick(1000);\n        node.send({payload:\"tick\"});\n    },initialTimeout);\n}\nfunction tick(timeout) {\n    setTimeout(()=>{\n        if (flow.get(\"timers\").length > 0) {\n            const newStart = Date.now();\n            const offset = (newStart-startCorrected) % 10;\n            const newTimeout = (offset > 0) ? 1000-(offset) : 1000;\n            tick(newTimeout);\n            node.send({payload:\"tick\"});\n        }\n    },timeout)\n}\ninitial();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":140,"wires":[["c50c6881.b2fdf","415b9d3f.6e5754"]]},{"id":"c50c6881.b2fdf","type":"function","z":"d3399d9e.0ff088","name":"check timers","func":"const now = Date.now();\nlet timers = flow.get(\"timers\") || [];\nif (msg.payload === \"tick\") {\n    if (timers.length === 0) { return null; } \n    let done = [];\n    timers.forEach(timer => {\n        if (timer.due < now) {\n            let outputMsg = {};\n            outputMsg.payload = timer.payload;\n            if (timer.hasOwnProperty(\"topic\")) { outputMsg.topic = timer.topic }\n            node.send([outputMsg, null]);\n            done.push(timer);\n        }\n    });\n    if (done.length !== 0) {\n        done.forEach(item => {\n            let toDelete = timers.indexOf(item);\n            timers.splice(toDelete, 1);\n        });\n        node.send([null,{payload:timers}]);\n    }\n    timers.forEach((timer, index) => {\n        timers[index].toGo = Math.round((timer.due - now) / 1000);\n    });\n    if (env.get(\"send_progress\") === true && done.length === 0 ) {\n        node.send([null,{payload:timers}]);\n    }\n} else if (msg.delete) {\n    for(i=0;i<timers.length;i++) {\n        if (timers[i].duration === msg.payload) {\n            timers.splice(i, 1);\n            node.send([null,{payload:timers}]);\n            break;\n        }\n    }\n} else {\n    let newTimer = {\n        payload: msg.payload,\n        duration: msg.duration,\n        due: now + (msg.duration * 1000),\n        toGo: msg.duration\n    };\n    if (msg.hasOwnProperty(\"topic\")) { newTimer.topic = msg.topic }\n    if (env.get(\"on_input\") === \"append\") {\n        timers.push(newTimer);\n    } else {\n        timers = [newTimer];\n    }\n    node.send([null,{payload:timers}]);\n}\nflow.set(\"timers\",timers);\nreturn null;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":710,"y":140,"wires":[[],["12c839f6.01eed6"]]},{"id":"415b9d3f.6e5754","type":"function","z":"d3399d9e.0ff088","name":"set status","func":"function convertFormat(input){\n    let hoursRaw = input / 3600;\n    hoursRaw = hoursRaw.toString().split(\".\");\n    let hours = hoursRaw[0];\n    let minutesRaw = (input / 60) - (Number(hours) * 60);\n    minutesRaw = minutesRaw.toString().split(\".\");\n    let minutes = minutesRaw[0];\n    let seconds = (input - (Number(hours) * 3600) - (Number(minutes) * 60)).toString();\n    if (hours.length === 1) { hours = \"0\" + hours; }\n    if (minutes.length === 1) { minutes = \"0\" + minutes; }\n    if (seconds.length === 1) { seconds = \"0\" + seconds; }\n    const output = `${hours}:${minutes}:${seconds}`;\n    return output;\n}\nconst timers = flow.get(\"timers\") || [];\nif (env.get(\"show_progress\") === true) {\n    if (timers.length !== 0) {\n        const now = Date.now();\n        let newPayload = \"\";\n        timers.forEach(timer => {\n            let toGo = Math.round((timer.due - now) / 1000);\n            let addPayload = \"\";\n            if (env.get(\"time_format\") === \"seconds\") {\n                addPayload = `${toGo}s of ${timer.duration}s to go`;\n            } else {\n                let newDuration = convertFormat(timer.duration);\n                let newToGo = convertFormat(toGo);\n                addPayload = `${newToGo} of ${newDuration} to go`;\n            }\n            if (newPayload.length !== 0) { newPayload += \", \"; }\n            newPayload += addPayload;\n        });\n        node.send({payload:newPayload});\n    } else {\n        node.send({payload:\"no timer\"});\n    }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":80,"wires":[[]]},{"id":"fe62abda.f8f7a","type":"switch","z":"d3399d9e.0ff088","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"},{"t":"eq","v":"debug","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":140,"wires":[["1e5213c7.d9c46c"],["1461b44c.50eae4"],["595b735c.08ff54"]]},{"id":"1e5213c7.d9c46c","type":"change","z":"d3399d9e.0ff088","name":"reset","rules":[{"t":"set","p":"timers","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":80,"wires":[["415b9d3f.6e5754","1461b44c.50eae4"]]},{"id":"595b735c.08ff54","type":"function","z":"d3399d9e.0ff088","name":"error checking","func":"if (typeof msg.duration === \"string\" && msg.duration.match(/[0-9]{2}\\:[0-9]{2}\\:[0-9]{2}/g)) {\n    msg.duration = msg.duration.split(\":\");\n    msg.duration = (Number(msg.duration[0]) * 3600) + (Number(msg.duration[1]) * 60) + Number(msg.duration[2]);\n}\nif (msg.delete === true && typeof msg.payload === \"string\" && msg.payload.match(/[0-9]{2}\\:[0-9]{2}\\:[0-9]{2}/g)) {\n    msg.payload = msg.payload.split(\":\");\n    msg.payload = (Number(msg.payload[0]) * 3600) + (Number(msg.payload[1]) * 60) + Number(msg.payload[2]);\n}\nif (msg.delete !== true) {\n    if (msg.duration === undefined || typeof msg.duration !== \"number\" || msg.duration <= 0) {\n        node.warn(\"input message needs a msg.duration property which is either of type number or a string in the hh:mm:ss second format\");\n        return null;\n    } else if (msg.payload === undefined) {\n        node.warn(\"msg.payload needs to be defined\");\n        return null;\n    }\n} else if (typeof msg.payload !== \"number\" || msg.payload <= 0) {\n    node.warn(\"if msg.delete is true msg.payload needs to be of type number and coresponding to the duration of the timer to be deleted\");\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":140,"wires":[["fe326ef6.0184b"]]},{"id":"12c839f6.01eed6","type":"function","z":"d3399d9e.0ff088","name":"format output","func":"function convertFormat(input){\n    let hoursRaw = input / 3600;\n    hoursRaw = hoursRaw.toString().split(\".\");\n    let hours = hoursRaw[0];\n    let minutesRaw = (input / 60) - (Number(hours) * 60);\n    minutesRaw = minutesRaw.toString().split(\".\");\n    let minutes = minutesRaw[0];\n    let seconds = (input - (Number(hours) * 3600) - (Number(minutes) * 60)).toString();\n    if (hours.length === 1) { hours = \"0\" + hours; }\n    if (minutes.length === 1) { minutes = \"0\" + minutes; }\n    if (seconds.length === 1) { seconds = \"0\" + seconds; }\n    const output = `${hours}:${minutes}:${seconds}`;\n    return output;\n}\nif(env.get(\"time_format\") === \"hhmmss\") {\n    let newMsg = RED.util.cloneMessage(msg);\n    newMsg.payload.forEach(timer => {\n        timer.duration = convertFormat(timer.duration);\n        timer.toGo = convertFormat(timer.toGo);\n    });\n    return newMsg;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":200,"wires":[[]]},{"id":"8370617b.6272a","type":"inject","z":"d3399d9e.0ff088","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":80,"wires":[["1e5213c7.d9c46c"]]},{"id":"1461b44c.50eae4","type":"change","z":"d3399d9e.0ff088","name":"timers","rules":[{"t":"set","p":"payload","pt":"msg","to":"timers","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":200,"wires":[["12c839f6.01eed6"]]},{"id":"414b9ad4.5107c4","type":"inject","z":"8300846b.bf0a18","name":"pill time","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":540,"y":940,"wires":[["ede24d89.47997","92d1a9a4.ce05c8","32f69cb7.327f64","6f5528ed.263308"]]},{"id":"46ce35df.27730c","type":"text-to-speech","z":"8300846b.bf0a18","name":"","x":1060,"y":940,"wires":[[]]},{"id":"478aa220.a84e7c","type":"volume-set","z":"8300846b.bf0a18","name":"","volume":"-1","target":"alarm","x":870,"y":1380,"wires":[[]]},{"id":"34bbbfe3.846b","type":"function","z":"8300846b.bf0a18","name":"","func":"msg.payload = {\n    \"text\": \"Angus, 記得食益生箘及萄葡糖胺\",\n    \"lang\": \"yue\"\n}\n\n//msg.volume = msg.payload.avg + 10;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":940,"wires":[["46ce35df.27730c","f193b743.4df858"]]},{"id":"541edeb9.eedc7","type":"inject","z":"8300846b.bf0a18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"testing testing one two three","payloadType":"str","x":270,"y":160,"wires":[["3c4983c0.7a551c"]]},{"id":"3c4983c0.7a551c","type":"http request","z":"8300846b.bf0a18","name":"route-stop","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/route-stop/CTB/71/outbound","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":160,"wires":[["f8b4c8d9.477cf8"]]},{"id":"b9671385.0fa8","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":160,"wires":[]},{"id":"f8b4c8d9.477cf8","type":"json","z":"8300846b.bf0a18","name":"","property":"payload","action":"","pretty":false,"x":570,"y":160,"wires":[["b9671385.0fa8"]]},{"id":"9ceadc85.89e2a","type":"http request","z":"8300846b.bf0a18","name":"2389","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/eta/CTB/002389/75/","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":280,"wires":[["9522589c.554018"]],"info":"002390 is probably Chan Pak Sha - 3m from Shum Wan"},{"id":"443dd95c.c94a88","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1470,"y":540,"wires":[]},{"id":"9522589c.554018","type":"json","z":"8300846b.bf0a18","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":280,"wires":[["d944c19e.f7e02"]]},{"id":"a0057985.f6d768","type":"http request","z":"8300846b.bf0a18","name":"2389","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/eta/CTB/002389/72A/","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":440,"wires":[["ada78001.2f992"]],"info":"002390 is probably Chan Pak Sha - 3m from Shum Wan"},{"id":"ada78001.2f992","type":"json","z":"8300846b.bf0a18","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":440,"wires":[["40cffd52.d388d4"]]},{"id":"40cffd52.d388d4","type":"function","z":"8300846b.bf0a18","name":"next route 72A","func":"var bus = msg.payload.data;\nvar hour, min;\n\nfor (var i=0; i<bus.length; i++){\n    if (bus[i].seq == 1 && bus[i].dir == \"O\"){\n        var nextBus = bus[i].eta;\n        var time = nextBus.split('T')[1];\n        hour = time.split(':')[0];\n        min = time.split(':')[1];\n        break;\n\n    }\n}\n\nvar text = \"下一班72A係\" + hour + \"點\" + min + \"分開出\";\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":440,"wires":[["209b03ef.4cfa5c","443dd95c.c94a88"]]},{"id":"d944c19e.f7e02","type":"function","z":"8300846b.bf0a18","name":"next route 75","func":"var bus = msg.payload.data;\nvar hour, min;\n\nfor (var i=0; i<bus.length; i++){\n    if (bus[i].seq == 1 && bus[i].dir == \"O\"){\n        var nextBus = bus[i].eta;\n        var time = nextBus.split('T')[1];\n        hour = time.split(':')[0];\n        min = time.split(':')[1];\n        break;\n\n    }\n}\n\nvar text = \"下一班75係\" + hour + \"點\" + min + \"分開出\";\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":280,"wires":[["443dd95c.c94a88","209b03ef.4cfa5c"]]},{"id":"209b03ef.4cfa5c","type":"link out","z":"8300846b.bf0a18","name":"","links":["4f64ad7a.751344"],"x":1435,"y":600,"wires":[]},{"id":"4f64ad7a.751344","type":"link in","z":"8300846b.bf0a18","name":"","links":["209b03ef.4cfa5c","382a316.78807ce","7cf01976.cc42b8","30cbfbe9.ec96e4","46c9b843.ed8118"],"x":915,"y":880,"wires":[["46ce35df.27730c"]]},{"id":"c3fe440c.147538","type":"http request","z":"8300846b.bf0a18","name":"2383","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/eta/CTB/002383/107/","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":580,"wires":[["3924f574.ba58fa"]],"info":"002390 is probably Chan Pak Sha - 3m from Shum Wan"},{"id":"3924f574.ba58fa","type":"json","z":"8300846b.bf0a18","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":580,"wires":[["5d661350.1c588c"]]},{"id":"5d661350.1c588c","type":"function","z":"8300846b.bf0a18","name":"next route 107","func":"var bus = msg.payload.data;\nvar hour, min;\n\nfor (var i=0; i<bus.length; i++){\n    if (bus[i].seq == 9 && bus[i].dir == \"O\"){\n        var nextBus = bus[i].eta;\n        var time = nextBus.split('T')[1];\n        hour = time.split(':')[0];\n        min = time.split(':')[1];\n        msg.time = time;\n        break;\n    }\n}\n\nvar text = \"下一班107往九龍灣方向係\" + hour + \"點\" + min + \"分開出\";\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":580,"wires":[["209b03ef.4cfa5c","443dd95c.c94a88"]]},{"id":"b94a571c.dc1968","type":"http request","z":"8300846b.bf0a18","name":"2223","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://rt.data.gov.hk/v1/transport/citybus-nwfb/eta/CTB/002223/71/","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":740,"wires":[["93af0069.68111"]],"info":"002390 is probably Chan Pak Sha - 3m from Shum Wan"},{"id":"93af0069.68111","type":"json","z":"8300846b.bf0a18","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":740,"wires":[["8cb0bb4d.1f4218","1bd3fcd3.47c393"]]},{"id":"8cb0bb4d.1f4218","type":"function","z":"8300846b.bf0a18","name":"next route 71","func":"var bus = msg.payload.data;\nvar hour, min;\n\nfor (var i=0; i<bus.length; i++){\n    if (bus[i].seq == 1 && bus[i].dir == \"O\"){\n        var nextBus = bus[i].eta;\n        var time = nextBus.split('T')[1];\n        hour = time.split(':')[0];\n        min = time.split(':')[1];\n        msg.time = time;\n        break;\n    }\n}\n\nvar text = \"下一班71往中環方向係\" + hour + \"點\" + min + \"分開出\";\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1230,"y":740,"wires":[["209b03ef.4cfa5c","443dd95c.c94a88"]]},{"id":"1bd3fcd3.47c393","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":800,"wires":[]},{"id":"8442a356.c3e89","type":"ui_button","z":"8300846b.bf0a18","name":"75","group":"8f9dc3d6.87696","order":1,"width":0,"height":0,"passthru":false,"label":"75","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":220,"wires":[["9ceadc85.89e2a","909fcec6.8ba76","d13b20c1.0c9d1"]]},{"id":"8410426f.8bd72","type":"ui_button","z":"8300846b.bf0a18","name":"72A","group":"8f9dc3d6.87696","order":2,"width":0,"height":0,"passthru":false,"label":"72A","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":400,"wires":[["a0057985.f6d768","99bb97d8.8d33e8","e5a23982.8a5428"]]},{"id":"5fc8b6c7.acfda8","type":"ui_button","z":"8300846b.bf0a18","name":"107","group":"8f9dc3d6.87696","order":3,"width":0,"height":0,"passthru":false,"label":"107","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":560,"wires":[["c3fe440c.147538","664c7344.761dbc","94d5c959.6b5308"]]},{"id":"7b75143c.6784bc","type":"ui_button","z":"8300846b.bf0a18","name":"71","group":"8f9dc3d6.87696","order":4,"width":0,"height":0,"passthru":false,"label":"71","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":680,"wires":[["b94a571c.dc1968","c513f9e0.1b9a58","fd168519.f3bfb8"]]},{"id":"fa165883.289e88","type":"inject","z":"8300846b.bf0a18","d":true,"name":"weekdays 8-9","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/10 8 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":540,"wires":[["89cf6b12.1786e8","a0057985.f6d768","32f69cb7.327f64"]]},{"id":"f8d42e34.620fb","type":"inject","z":"8300846b.bf0a18","name":"weekend 10-19","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/15 11-18 * * 6,0","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":460,"y":460,"wires":[["89cf6b12.1786e8","32f69cb7.327f64","17ca0b7.9e221f5"]]},{"id":"89cf6b12.1786e8","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":280,"wires":[["9ceadc85.89e2a"]]},{"id":"909fcec6.8ba76","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":220,"wires":[["9ceadc85.89e2a"]]},{"id":"d13b20c1.0c9d1","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":970,"y":180,"wires":[["9ceadc85.89e2a"]]},{"id":"e5a23982.8a5428","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":340,"wires":[["a0057985.f6d768"]]},{"id":"99bb97d8.8d33e8","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":380,"wires":[["a0057985.f6d768"]]},{"id":"664c7344.761dbc","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":480,"wires":[["c3fe440c.147538"]]},{"id":"94d5c959.6b5308","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":520,"wires":[["c3fe440c.147538"]]},{"id":"fd168519.f3bfb8","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":660,"wires":[["b94a571c.dc1968"]]},{"id":"c513f9e0.1b9a58","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":700,"wires":[["b94a571c.dc1968"]]},{"id":"492950ab.4ede8","type":"function","z":"8300846b.bf0a18","name":"weather","func":"var temp = msg.payload.temp;\nvar feelLike = msg.payload.feelLike;\nvar humidity = msg.payload.humidity;\nvar description = msg.payload.description;\nvar uvi = msg.payload.uvi;\n\nvar temp3 = msg.payload.temp3;\nvar feelLike3 = msg.payload.feelLike3;\nvar humidity3 = msg.payload.humidity3;\nvar description3 = msg.payload.description3;\nvar uvi3 = msg.payload.uvi3;\n\nvar text = \"現在香港仔天氣: \" + description + \", 溫度: \" + temp + \"度, 體感: \" + feelLike + \"度, 濕度: \" + humidity + \", 紫外線指數: \" + uvi + \"; 未來3小時預測: \" + description3 + \", 溫度: \" + temp3 + \"度, 體感: \" + feelLike3 + \"度, 濕度: \" + humidity3 + \", 紫外線指數: \" + uvi3;\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1200,"y":1120,"wires":[["a73c5d3.e3bfca","30cbfbe9.ec96e4"]]},{"id":"a73c5d3.e3bfca","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":1060,"wires":[]},{"id":"30cbfbe9.ec96e4","type":"link out","z":"8300846b.bf0a18","name":"","links":["4f64ad7a.751344"],"x":1335,"y":1120,"wires":[]},{"id":"23de2a96.aa0916","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1120,"wires":[["16acb79d.38b3b8"]]},{"id":"a57a19e1.67b4d8","type":"inject","z":"8300846b.bf0a18","name":"everyday 10-19","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"0 10-18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":1120,"wires":[["23de2a96.aa0916","86103cd6.ec30d"]]},{"id":"8d3245ae.729348","type":"inject","z":"8300846b.bf0a18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":1380,"wires":[["87dd6f6.f906c9"]]},{"id":"654e6519.37b5ec","type":"ui_button","z":"8300846b.bf0a18","name":"weather","group":"8f9dc3d6.87696","order":5,"width":0,"height":0,"passthru":false,"label":"weather","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","topicType":"str","x":620,"y":1180,"wires":[["16acb79d.38b3b8"]]},{"id":"f314f33c.bd6ab","type":"inject","z":"8300846b.bf0a18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":800,"wires":[["34bbbfe3.846b","32f69cb7.327f64"]]},{"id":"c31c6ac2.4f5b08","type":"function","z":"8300846b.bf0a18","name":"","func":"msg.payload = Math.max(msg.payload.avg + 15, 60);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1380,"wires":[["478aa220.a84e7c","7f911299.45bd5c"]]},{"id":"87dd6f6.f906c9","type":"db","z":"8300846b.bf0a18","name":"","x":550,"y":1380,"wires":[["c31c6ac2.4f5b08","6953b1d7.c53fc"]]},{"id":"f193b743.4df858","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":880,"wires":[]},{"id":"a4a71aad.eebdc8","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":820,"wires":[]},{"id":"ede24d89.47997","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":1000,"wires":[["34bbbfe3.846b"]]},{"id":"92d1a9a4.ce05c8","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":1040,"wires":[["34bbbfe3.846b"]]},{"id":"ca97d29d.7e855","type":"link in","z":"8300846b.bf0a18","name":"","links":["32f69cb7.327f64","86103cd6.ec30d"],"x":415,"y":1300,"wires":[["87dd6f6.f906c9"]]},{"id":"32f69cb7.327f64","type":"link out","z":"8300846b.bf0a18","name":"","links":["ca97d29d.7e855"],"x":655,"y":640,"wires":[]},{"id":"86103cd6.ec30d","type":"link out","z":"8300846b.bf0a18","name":"","links":["ca97d29d.7e855"],"x":575,"y":1260,"wires":[]},{"id":"6f5528ed.263308","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":940,"wires":[["34bbbfe3.846b"]]},{"id":"6953b1d7.c53fc","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1340,"wires":[]},{"id":"4096def2.87998","type":"ui_form","z":"8300846b.bf0a18","name":"","label":"Remind me","group":"8f9dc3d6.87696","order":6,"width":0,"height":0,"options":[{"label":"Hour","value":"hr","type":"number","required":true,"rows":null},{"label":"Minute","value":"min","type":"number","required":true,"rows":null},{"label":"About","value":"about","type":"text","required":false,"rows":null}],"formValue":{"hr":"","min":"","about":""},"payload":"","submit":"submit","cancel":"","topic":"","topicType":"str","splitLayout":false,"x":550,"y":1620,"wires":[["677c0bfd.6db3d4","9502d57a.8cf768"]]},{"id":"677c0bfd.6db3d4","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":1660,"wires":[]},{"id":"ae9b9c76.b02da","type":"function","z":"8300846b.bf0a18","name":"","func":"var hr = msg.payload.hr;\nvar min = msg.payload.min;\n\nvar date = new Date();\ndate.setHours(hr, min, 0, 0);\nvar timenow = new Date().getTime();\nmsg.delay = date - timenow;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":2000,"wires":[["5d3de3be.7c71cc"]]},{"id":"5d3de3be.7c71cc","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":2000,"wires":[["3b3649a5.0eeff6"]]},{"id":"3b3649a5.0eeff6","type":"function","z":"8300846b.bf0a18","name":"alarm","func":"var text =\"\";\n\nif (msg.payload == \"\"){\n    text = \"Time's up, pens down\";\n} else {\n    text = msg.payload;\n}\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":2000,"wires":[[]]},{"id":"46c9b843.ed8118","type":"link out","z":"8300846b.bf0a18","name":"","links":["4f64ad7a.751344"],"x":1295,"y":1540,"wires":[]},{"id":"3bc630b4.85b54","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":1620,"wires":[]},{"id":"4ff4d01e.3a8c3","type":"function","z":"8300846b.bf0a18","name":"reset","func":"msg.payload = '';\nmsg.payload.hr = '';\nmsg.payload.min = '';\nmsg.payload.about = '';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":2000,"wires":[["aaef5f50.70aa7"]]},{"id":"16acb79d.38b3b8","type":"openweathermap","z":"8300846b.bf0a18","name":"weather","wtype":"onecall","lon":"114.150999396","lat":"22.241999032","city":"","country":"","language":"zh_tw","x":780,"y":1120,"wires":[["b083b42c.403f98","da86020a.23c4"]],"info":"39dfad5290f39f7a6423b8ebbeab64a7"},{"id":"b083b42c.403f98","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1080,"wires":[]},{"id":"da86020a.23c4","type":"function","z":"8300846b.bf0a18","name":"current and 3 hrs","func":"var temp = msg.payload.current.temp;\nvar feelLike = msg.payload.current.feels_like;\nvar humidity = msg.payload.current.humidity;\nvar description = msg.payload.current.weather[0].description;\nvar uvi = msg.payload.current.uvi;\n\nvar temp3 = msg.payload.hourly[3].temp;\nvar feelLike3 = msg.payload.hourly[3].feels_like;\nvar humidity3 = msg.payload.hourly[3].humidity;\nvar description3 = msg.payload.hourly[3].weather[0].description;\nvar uvi3 = msg.payload.hourly[3].uvi;\n\nmsg.payload = {\n    \"temp\" : temp,\n    \"feelLike\" : feelLike,\n    \"humidity\" : humidity,\n    \"description\" : description,\n    \"uvi\" : uvi,\n    \"temp3\" : temp3,\n    \"feelLike3\" : feelLike3,\n    \"humidity3\" : humidity3,\n    \"description3\" : description3,\n    \"uvi3\" : uvi3\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":1120,"wires":[["492950ab.4ede8"]]},{"id":"f61b4c2c.65d518","type":"debug","z":"8300846b.bf0a18","name":"complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1120,"y":1560,"wires":[]},{"id":"e6a26233.0b863","type":"debug","z":"8300846b.bf0a18","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":1680,"wires":[]},{"id":"d2c69471.b2bd2","type":"subflow:d3399d9e.0ff088","z":"8300846b.bf0a18","name":"","env":[],"x":930,"y":1620,"wires":[["f61b4c2c.65d518","5c7108fe.1a41e8"],["e6a26233.0b863"]]},{"id":"9502d57a.8cf768","type":"function","z":"8300846b.bf0a18","name":"set timer","func":"var hr = msg.payload.hr;\nvar min = msg.payload.min;\nmsg.payload = msg.payload.about;\n\nvar date = new Date();\ndate.setHours(hr, min, 0, 0);\nvar timenow = new Date().getTime();\nmsg.duration = (date - timenow)/1000;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":1620,"wires":[["d2c69471.b2bd2","8c86ea90.6e2278"]]},{"id":"5c7108fe.1a41e8","type":"function","z":"8300846b.bf0a18","name":"alarm","func":"var text =\"\";\n\nif (msg.payload == \"\"){\n    text = \"Time's up, pens down\";\n} else {\n    text = msg.payload;\n}\n\nmsg.payload = {\n    \"text\": text,\n    \"lang\": \"yue\"\n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1620,"wires":[["46c9b843.ed8118","3bc630b4.85b54"]]},{"id":"8c86ea90.6e2278","type":"debug","z":"8300846b.bf0a18","name":"complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":1560,"wires":[]},{"id":"aaef5f50.70aa7","type":"debug","z":"8300846b.bf0a18","name":"complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":2000,"wires":[]},{"id":"17ca0b7.9e221f5","type":"delay","z":"8300846b.bf0a18","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":440,"wires":[["a0057985.f6d768"]]},{"id":"7f911299.45bd5c","type":"debug","z":"8300846b.bf0a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":1340,"wires":[]},{"id":"8f9dc3d6.87696","type":"ui_group","name":"Bus","tab":"6a0efa1e.2576d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a0efa1e.2576d4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
